blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
ul{
	list-style: none;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
/*导航栏1*/
	.nav1{
		width: 100%;
		background: #222222;
		position: fixed;
		top: 0;
		z-index: 2;
	}
	.tab1{
		transition:all .5s;
		z-index: 999;
	}
	.nav1>div{
		float: left;
		position: relative;
		color: white;
		left: 9.9%;
		margin-top: 10px;
		font-size: 17px;
	}
	/*	.nav2::before{
		content: "";
		width: 100%;
		height: 100%;
		opacity: 0.5;
		background: black;
		display: block;
		position: absolute;
		top: 100px;
	}*/
	.nav1 ul{
		float: right;
		position: relative;
		right:8.3%;
		padding: 1px;
	}
	.nav1 ul li{
		height: 40px;
	}
	.nav1 ul li,.nav2 ul li{
		list-style: none;
		line-height: 40px;
		float: left;
		padding: 0 15px;
		border-left: 1px solid #9D9D9D;
		color: #9D9D9D;
		transition:all 0.5s;
	}
	.nav1 ul li:hover{
		color: white;
		cursor: pointer;
	}
/*导航栏2*/
	.nav2 .logo{
	float: left;
	padding-top: 20px;
	margin:0 0 -23px 41px;
	}
	.nav2{
		position: fixed;
		z-index: 1;
		top:40px;
		width: 100%;
		background: white;
	 }
	.nav2 img{
		width: 250px;
	}
	.nav2 .tab1{
		float: right;
		width: 750px;
		height:100px;
	}
	.tab1 .cha{
		font-size: 2em;
		float: right;
		color: white;
		cursor: pointer;
		margin: 22px;
		display: none;
	}
	.nav2 ul{
		margin-top: 30px;
	}
	.nav2 ul li{
		border: 0px;
		cursor: pointer;
		color: #808080;
	}
	.nav2 ul li span{
		color: black;
	}
	.nav2 ul li img{
		display: inline-block;
		width: 24px;
		height: 24px;
	}
	.nav2 ul>li:hover{
		border-bottom: 2px solid #848484;

	}
	.nav2box{
		overflow: hidden;
		zoom: 1;
	}
	.nav2 ul li ol{
		position: absolute;
		display: none;
		float: none;
		background: #131313;
		padding: 20px;
		border-radius: 5px;
		margin-left: -15px;
		margin-top: 5px;
	}
	.nav2 .sty1 ul li ol{
		animation:sanwa .5s linear 0s 1 alternate forwards;
	}
	@-webkit-keyframes sanwa{
		0%{
			margin-top: 35px;
		}
		10%{
			margin-top: 35px;
		}
		80%{
			margin-top: 5px;
		}
		100%{
			margin-top: 5px;
		}
	}
	.nav2 ul li ol::before{
		content: "";
		border: 8px solid transparent;
		border-bottom: 8px solid #131313;
		position: absolute;
		top: -16px;
		left: 32px;
	}
	.nav2 ul li ol li{
		float: none;
		padding: 0;
		width: 100px;
		margin-bottom:7px;
		text-align: left;
		line-height: 44px;
		border-bottom: 2px solid transparent;
	}
	.nav2 ul li ol li:hover{
		border-bottom: 2px solid #E2E3E3;

	}
	.nav2 ul li ol li a{
		color: #E2E3E3;
		text-decoration: none;
	}
	.show_tab1{
		float: right;
		margin-right: 20px;
		margin-top: 25px;
		cursor: pointer;
		display: none;
		background:red;
	}
	.show_tab1 div{
		background: url(../images/show1.png);
		width: 25px;
		height: 22px;
	}
	.show_tab1 div:hover{
		background: url(../images/show2.png);
	}
/*大图*/
	.big_draw{
	/*height: 775px;*/
	background: url(../images/smartCity.jpg);
    margin-top: 14px;
    background-position: 50% 0%;
    background-size: auto 951px;
    height: 900px;
	}
	.cover,.cover1{
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.65) !important;
		overflow: hidden;
	}
	.big_draw_box{
		color: white;
	}
	.big_draw_text{
		float: left;
		margin-top: 340px;
	}
	.big_draw_text1{
		margin-bottom: 20px;
	    font-size: 35px;
	    font-weight: 500;
	}
	.org{
	    width: 200px;
	    height: 3px;
	    background: #f6bb19;
	}
	.big_draw_text2{
		    font-size: 19px;
		    line-height: 1.5;
		    margin-bottom: 30px;
		    text-align: left;
		    margin-top: 50px;
		    white-space: nowrap;
		    border-bottom: 1px solid #FFFFFF;
		    padding: 10px 0px;
		    font-weight: 500;
		    
	}
	.big_draw_text2 p{
	    /*margin-bottom: 20px;*/
	    margin: 2px 0 20px 20px;
	    /*margin: 0 0 10px;*/
	}
	.big_draw_btn{
		margin-top: 75px;
	}
	.big_draw_btn div{
		float: left;
		margin-right: 4px;
		font-size: 18px;
		line-height: 36px;
		width: 273px;
		text-align: center;
		border: 2px solid #FFFFFF;
	    border-radius: 5px;
	    cursor: pointer;

	}
	.big_draw_btn div:hover{
		background: rgba(234, 146, 21, 0.9) !important;
	    color: #fff !important;
	}
/*关于我们*/
	.main{
	
	}
	.about{
		width: 100%;
		padding: 1px 0;
		height: 148px;
	}
	.house{
		width: 200px;
		margin: 45px auto;
		font-size: 30px;
		color: #828282;
	}
	.house span{
		vertical-align: middle;
	}
	.house img{
		width: 50px;
		height: 50px;
		vertical-align: middle;
	}
	.cover1{
		transition:all .5s;
	}
	.cover1:hover{
		background: rgba(0, 0, 0, 0.45) !important;
	}
/*内容区一*/
	.content1_box{
		width: 100%;
		background: #F2F2F2;
		overflow: hidden;
	}
	.content1_box1{
		text-align: center;
		overflow: hidden;
		margin: 0 auto;
		margin-top: 110px;
	}
	.content1_img_box{
		position: relative;
		float: right;
		border-radius: 10px;
		background: url(../images/img5.jpg);
		background-size: 780px auto;
		overflow: hidden;
		transition:all .5s;
		box-shadow:3px 3px 20px 5px rgba(0,0,0,0.5);
	}
	.content1_box>div:nth-child(2) .content1_img_box{
		background: url(../images/img6.jpg);
	}
	.content1_img_box:hover{
       	transform: translate3d(0,-6px,0);
	}
	.content1_box2{
		overflow: hidden;
		margin: 110px auto;
		text-align: center;
	}
	.content1_box2 .content1_img_box{
		float: left;
	}
	.content1_box2 .content1_txt1{
		float: left;
	}
	.content1_txt1{
		float: left;
		position: relative;
		text-align: center;
		margin-top:90px;
	}
	.content1_box1 i,.content1_box2 i{
		margin-left: 160px;
		display: block;
		background: url(../images/logo.ico);
		background-size: 45px 41px;
		width: 45px;
		height: 41px;
	}
	
	.content1_box1 h3,.content1_box2 h3{
		font-size: 24px;
		margin: 25px 0;
		font-weight: 500;
	}
	.content1_box1 p,.content1_box2 p{
		line-height: 35px;
		color: #828282;
	}
	.content1_img_txtbox{
		color: white;
		/*width: 570px;*/
		margin: 90px auto;
	}
	.content1_img_txtbox p{
		color:white;
	}
/*智慧水务*/
	.bg2_zhihui{
		width: 100%;
		height: 500px;
		background: url(../images/scImg.jpg) no-repeat 50% -500px;
	}
	.bg2_shuiwu{
		width: 750px;
		height: 500px;
		margin: 0 auto;
		text-align:center;
		color: white;
	}
	.bg2_shuiwu h1{
		margin-bottom: 20px;
		font-weight: 500;
	}
	.bg2_shuiwu p{
		line-height: 35px;
	}
	.bg2_chakan{
		width: 150px;
		height: 48px;
		line-height: 48px;
		background: #01BCFF;
		border-radius: 5px;
		margin:25px auto;
		cursor: pointer;
	}
	.bg2_chakan:hover{
		background: #EA9215;
	}
/*公司产品*/
	.chanpin{
		width: 100%;
		background: white;
	}
	.chanpin_txt{
		text-align: center;
		/*font-size: 40px;*/
	}
	.chanpin_txt h2{
		font-size: 32px;
		margin-bottom: 10px;
	}
	.chanpin_txt p{
		color: #828282;
	}
	.chanpin_tab{
		margin: 50px auto;
		position: relative;
	}
	.chanpin_tab::before{
		content: "";
		display: block;
		height: 100%;
		border-left: 1px solid #D4D4D4;
		/*left: 50%;*/
		position: absolute;
	}
	.chanpin_tab ul{
		list-style: none;
		margin-top: 20px;
	}
	.chanpin_tab ul li{
		position: relative;
		top: 20px;
		margin-top: 20px;
	}
	.circle{
		border: 4px solid #D4D4D4;
		border-radius: 50%;
		position: absolute;
		overflow: hidden;
		background: white;
		cursor: pointer;
	}
	.circle:hover{
		background: #E9E9E9;
	}
	.circle img{
		transition:all .5s;
	}
	.circle:hover img{
		width: 144px;
		height:108px;
		margin-left: -72px;
		margin-top: -54px;
	}
	.chanpin_txt2{
		width: 34.7%;
		/*float: left;*/
		padding: 30px;
		border: 1px solid #d4d4d4;
		position: relative;
		border-radius: 4px;
	}
	.chanpin_txt2::before{
		content: "";
		display: block;
		/*background: url(../images/right.png);*/
		width: 15px;
		height: 28px;
		position: absolute;
		right: -15px;
		top: 82px;
	}
	.chanpin_txt2 h3{
		font-weight: 500;
		font-size: 24px;
  		margin: 0 0 20px 0;
	}
	.chanpin_txt2 p{
		line-height: 25px;
	}
	.chanpin_txt2 span{
		display: block;
	    margin-bottom: 20px;
	    font-size: 13px;
	    letter-spacing: 2px;
	}
	.chanpin_txt2 a{
		color: #337ab7;
     	text-decoration: none; 
	}
/*客户案例*/
	.anli{
		width: 100%;
		background: #F2F2F2;
		overflow: hidden;
	}
	.anli_box{
		text-align: center;
		margin: 0 auto;
		overflow: hidden;
	}
	.anli_box h2{
		font-size: 32px; 
		margin-bottom: 45px;
	}
	.anli_txt2{
		height: 125px;
		background: white;
		font-size: 0.8em;
	}
	.anli_txt2 span{
		margin: 38px 0 0 -80px;
		display: inline-block;
		width:20px;
		height: 26px;
		background: url(../images/dingwei.png); 
	}
	.anli_box1 li{
		margin-bottom: 30px;
		position: relative;
		transition:all .6s;
		box-shadow:3px 3px 20px 1px rgba(0,0,0,0.16);
	}
	.anli_box1 li:hover{
		transform-origin:25px 240px;
		transform:rotate(-4deg);
	}
	.anli_box1 li::before{
		content: "";
		transition:all .6s;
		display: block;
		opacity: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,.5);
	}
	.anli_box1 li:hover::before{
		transition:all .6s;
		opacity: 1;
	}
/*轮播*/
	.lunbo{
		position: relative;
		margin: 110px auto;
		margin-bottom: 210px;
	}
	#all{
		width: 800px;
		height: 150px;
		overflow: hidden;
		margin: 0 auto;
	}
	#box{
		width: 2200px;
	}
	#box img{
		width: 220px;
		height: 150px;
		float: left;
	}
	.prev,.next{
		position: absolute;
		background: url(../images/prev.png);
		width: 15px;
		height: 28px;
		display: inline-block;
		left:5%;
		top: 60px;
		cursor: pointer;
	}
	.next{
		left: 92%;
		background: url(../images/next.png);
	}
	#box span{
		overflow: hidden;
		display: inline-block;
		position: relative;
		cursor: pointer;
	}
	#box span:hover::before{
		opacity: 0.8;
	}
	#box span::before{
		content: "北京胜天水公司";
		color: white;
		text-align: center;
		line-height: 150px;
		font-size: 20px;
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		background: black;
		transition:all .5s;
		opacity: 0.3;
	}
/*脚部*/
	.foot{
		background: black;
		overflow: hidden;
		color: white;
	}
	.foot_txt_box{
		overflow: hidden;
		margin: 0 auto;
	}
	.foot_txt1 h4{
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 25px;
	}
	.foot_txt1 p{
		margin-bottom: 20px;
	}
	.foot_txt1>div{
		margin-top: 40px;
	}
	.foot_txt2{
		margin-top: 70px;
		padding-bottom: 70px;
	}
	.foot_txt1{
		margin-bottom: 70px;
		overflow: hidden;
	}
	.foot_txt2 p{
		font-size: 12px;
		margin-bottom: 20px;
	}
@media (min-width: 768px){
	.nav2 ul li ol{
		position: absolute;
	}
	.big_draw_box{
		width: 720px;
		margin: 0 auto;
	}
	.big_draw_text2{
		width: 720px;
	}
	.content1_img_box{
		width: 750px;
		height: 523px;
	}

	.content1_txt1{
		width: 750px;
		margin: 90px auto;
	}
	.content1_txt1 i{
		position: relative;
		left: 50%;
		margin-left: -13px;
	}
	.content1_img_txtbox i{
		margin-left: 355px;
	}
	.bg2_shuiwu h1{
		margin-top: 160px;
	}
	/*公司产品*/
	.chanpin_txt h2{
		font-size: 32px;
		margin-top: 120px;
	}
	.chanpin_txt{
		width: 730px;
		margin: 0 auto;
	}	
	.circle{
		width: 154px;
		height: 154px;
		left: 50%;
		margin-left: -81px;
	}
	.chanpin_tab .circle:nth-of-type(1){
		margin-top: 16px;
	}
	.circle img{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -45px;
		margin-left: -60px;
		height: 90px;
		width: 120px;
	}
	.chanpin_tab{
		width: 750px;
		height: 958px;
	}
	.chanpin_tab::before{
		left:10%; 
		margin: 0;
	}
	.anli_box h2{
		margin-top: 120px;
	}
	.anli_box1 li{
		margin: 20px auto;
		width: 720px;
	}
	.anli_box1 li img{
		width: 720px;
		height: 400px;
	}
	.foot_txt_box{
		margin-top: 72px;
	}
}
@media screen and (min-width:768px) and (max-width: 992px){
	.chanpin_txt2{
		width: 458px;
		height: 224px;

	}
	.chanpin_txt2{
		left: 25%;
	}
	.circle{
		left: 75px;
	}
}
@media (max-width: 992px){
	.content1_img_box{
		float: none;
		left: 50%;
		margin-left: -375px;
	}
	.content1_txt1{
		float: none;
	}
	/*产品*/
	.chanpin_txt2::before{
		content: "";
		display: block;
		background: url(../images/left.png);
		width: 15px;
		height: 28px;
		position: absolute;
		left: -15px;
		top: 82px;
	}
	/*.chanpin_tab{
		width: 100%;
	}
	.chanpin_tab::before{
		left:105px; 
		margin: 0;
	}
	.circle{
		left: 25px;
		margin: 0;
	}*/
	/*.chanpin_txt2{
		left: 60%;
	}*/
	.foot_txt1,.foot_txt2{
		margin-left: 15px;
	}
}
@media (min-width: 992px){
	.big_draw_box{
		width: 720px;
		margin: 0 auto;
	}
	.big_draw_text2{
		width: 617px;
	}
	/*公司简介*/
	.content1_img_box{
		width: 646px;
		height: 431px;
	}
	.content1_img_txtbox{
		width: 435px;
	}
	.content1_img_txtbox i{
		margin-left: 200px;
	}
	.content1_box1,.content1_box2{
		width: 998px;
	}
	.content1_box1 p,.content1_box2 p{
		font-size: 0.8em;
	}
	.content1_txt1 i{
		margin-left: 120px;
	}
	.content1_txt1{
		width: 290px;
	}
	.content1_txt1 i{
		left: 0;
	}
	.chanpin_tab::before{
		left: 50%;
	}

	.chanpin_txt2{
		left: 0;
	}
	.chanpin_txt2{
		margin-left: -15px;
	}
	.chanpin_tab ul li:nth-child(2) .chanpin_txt2{
		left: 60%;
		margin-left: 0;
	}
	.chanpin_tab ul li:nth-child(1) .chanpin_txt2::before,.chanpin_tab ul li:nth-child(3) .chanpin_txt2::before{
		background: url(../images/right.png);
	}
	.chanpin_tab ul li:nth-child(2) .chanpin_txt2::before{
		background: url(../images/left.png);
		left: -15px;
	}
	.chanpin_tab{
		width: 940px;
		height: 1119px;
	}
	.anli_box1 li{
		float: left;
		margin-right: 28px;
	}
	/*客户案例*/
	.anli_box{
		width: 970px;
	}
	.anli_box1 li{
		width: 213px;
	}
	.anli_box1 li img{
		width: 213px;
		height: 118px;
	}
	.lunbo{
		width: 970px;
	}
	.foot_txt1>div{
		float: left;
		margin-right: 65px;
	}
	.foot_txt_box{
		width: 970px;
		/*height: 379px;*/
	}
	.foot_txt2{
		width: 970px;
	}
}
@media (min-width: 1200px){
	.nav2box,.big_draw_box{
		width: 1200px;
		margin: 0 auto;
	}
	.big_draw_text2{
		width: 750px;
	}
	.big_draw_text{
		margin-left:127px;
	}
	/*公司简介*/
	.content1_box1,.content1_box2{
		width: 1370px;
	
	}
	.content1_box1 p,.content1_box2 p{
		font-size: 1em;
	}
	.content1_img_box{
		width: 780px;
		height: 544px;
	}
	.content1_img_txtbox{
		width: 580px;
	}
	.content1_img_txtbox i{
		margin-left: 270px;
	}
	.content1_txt1{
		margin-left:120px;
		width: 355px;
	}
	.content1_txt1 i{
		margin-left: 158px;
	}
	.chanpin_tab{
		width: 1140px;
		height: 995px;
	}
	/*公司产品*/
	/*.chanpin_tab ul li{*/
		/*height: 286px;*/
		/*background: blue;*/
	/*}*/
	.chanpin_txt2{
		margin-left: 0;
	}

	/*客户案例*/
	.anli_box{
		width: 1170px;
	}
	.anli_box1 li{
		width: 262px;
	}
	.anli_box1 li img{
		width: 262px;
		height: 145px;
	}
	.lunbo{
		width: 1170px;
	}
	.foot{
		height: 712px;
	}
	.foot_txt_box{
		width: 1170px;
		/*height: 488px;*/
	}
	.foot_txt2{
		width: 1170px;
	}
}
@media (max-width: 768px){
	.nav2{
		top: 0;
	}
	.nav2 ul li ol{
		position: relative;
	}
	.nav1{
		display: none;
	}
	.nav2 .logo{
		margin-bottom: 20px;
	}
	.nav2 .tab1{
		width: 270px;
		height: 100%;
		position: fixed;
		right: -270px;
		top: 0;
		background:black; 
		z-index: 5;
	}
	.nav2 ul li{
		float: none;
		width: 190px;
		border-bottom: 2px solid #FFFFFF;
		padding: 0;
		margin-left: 40px;
	}
	.nav2 ul{
		margin-top: 70px;
	}
	.show_tab1{
		display: block;
	}
	.tab1 .cha{
		display: block;
	}
	.big_draw{
		height: 600px;
		background-size: auto 600px;
	}
	.big_draw_text{
		margin: 168px 0 0 15px;
		width: 100%;
	}
	.big_draw_btn div:nth-child(2){
		margin-top: 4px;
	}
	.big_draw_text2{
		width: 95%;
	}
	.about{
		height:276px; 
	}
	.house{
		margin: 110px auto;
	}
	/*公司简介*/
	.content1_img_box{
		width: 100%;
	}
	.content1_box1 i,.content1_box2 i{
		display: none;
	}
	.content1_box1,.content1_box2,.content1_img_box,.content1_txt1{
		min-width: 100%;
		height: auto;
		float: none;
	}
	.content1_img_box{
		left: 0;
		margin: 0;
		background: url(../images/img5.jpg);
		background-size: 100% auto;
		overflow: hidden;
	}
	.content1_img_box h3{
		margin: 0;
	}
	.content1_img_txtbox{
		margin: 0;
	}
	.content1_txt1{
		margin: 0;
	}
	.content1_txt1 p{
		padding: 10px;

	}
	.content1_box1 p,.content1_box2 p{
		font-size: 0.5em;
		padding: 10px;
	}
	.bg2_shuiwu{
		width: 100%;
	}
	.bg2_shuiwu h1{
		margin-top: 150px;
	}
	/*公司产品*/
	.chanpin_txt h2{
		margin-top: 60px;
		font-size: 40px;
	}
	.chanpin_txt{
		width: 100%;
	}
	.chanpin_txt2::before{
		background: url(../images/right.png);
		left: 0;
	}
	.chanpin_tab::before{
		left: 100px;
	}
	.chanpin_txt2::before{
		background: url(../images/left.png);
		left: -15px;
	}
	.chanpin_txt2{
		left: 240px;
	}
	.circle{
		width: 153px;
		height: 153px;
		left: 30px;
	}
	.anli_box1 li{
		width: 94%;
		left: 3%;
	}
	.anli_box1 li img{
		width:100%;
	}
}
@media (max-width:500px){
	.circle{
		width: 54px;
		height: 54px;
		left: 3%;
		margin-top: 65px;
	}
	.chanpin_tab::before{
		left: 9%;
		margin-left: 0;
	}
	.circle img{
		width: 40px;
		height: 30px;
		margin-left: 8px;
		margin-top: 8px;
	}
	.circle:hover img{
		width: 52px;
		height: 39px;
		margin-left: 2px;
		margin-top: 2px;
	}
	.chanpin_txt2{
		left: 30%;
		width: 50%;
	}
}